Repository dtr-org/unit-e, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Gnappuraz, @scravy, @kostyantyn

Add expert for permissioning system
  MAINTAINERS.md
Owners: none

Explain permission system
  MAINTAINERS.md
Owners: none

propose + sign block logic
  src/esperanza/walletextension.cpp
  src/esperanza/walletextension.h
  src/proposer/blockproposer.cpp
  src/proposer/blockproposer.h
  src/staking/stakingwallet.h
Owners: @Gnappuraz, @scravy

Add code of conduct (#187)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Owners: none

fix includes, clang-format
  src/esperanza/walletextension.cpp
  src/proposer/blockproposer.cpp
  src/staking/stakingwallet.h
Owners: @Gnappuraz, @scravy

WIP proposer
  src/esperanza/walletextension.cpp
  src/esperanza/walletextension.h
  src/proposer/blockproposer.h
  src/proposer/chainstate.cpp
  src/proposer/chainstate.h
  src/staking/stakingwallet.h
Owners: @Gnappuraz, @scravy

miscellaneous small clean-ups
  contrib/devtools/lint-clang-format.py
  src/dependency_injector.h
  src/proposer/proposer_init.cpp
  src/test/dependency_injector_tests.cpp
  src/test/esperanza/finalizationparams_tests.cpp
  src/test/esperanza/finalizationstate_tests.cpp
  src/test/esperanza/walletextension_tests.cpp
Owners: @scravy

remove apply-clang-format
  contrib/devtools/apply-clang-format.py
Owners: none

Rename esperanza/validation.* to esperanza/esperanza_validation.*
  src/Makefile.am
  src/esperanza/esperanza_validation.cpp
  src/esperanza/esperanza_validation.h
  src/esperanza/finalizationstate.cpp
  src/miner.cpp
  src/test/esperanza/validation_tests.cpp
  src/txmempool.cpp
  src/validation.cpp
  src/wallet/wallet.cpp
Owners: @Gnappuraz

Rename esperanza/init.* files
  src/Makefile.am
  src/esperanza/esperanza_init.cpp
  src/esperanza/esperanza_init.h
  src/esperanza/esperanza_validation.cpp
Owners: @Gnappuraz

miscellaneous small clean-ups (#190)
  contrib/devtools/apply-clang-format.py
  contrib/devtools/lint-clang-format.py
  src/dependency_injector.h
  src/proposer/proposer_init.cpp
  src/test/dependency_injector_tests.cpp
  src/test/esperanza/finalizationparams_tests.cpp
  src/test/esperanza/finalizationstate_tests.cpp
  src/test/esperanza/walletextension_tests.cpp
Owners: @scravy

.github/CODEOWNERS:

# Code areas where changes need special approval by experts
/src/esperanza/ @Gnappuraz
/src/proposer/ @scravy
/src/snapshot/ @kostyantyn
/src/staking/ @scravy @Gnappuraz
