Repository dtr-org/unit-e, pull requests merged in 2019-06, with the labels that each got.

#1118 Add interactive-test-runner
  contrib/devtools/interactive-test-runner.py
  contrib/devtools/run-functional-tests.sh
Labels: tools

#1110 Check stake before relaying high perf compact block
  src/Makefile.test.include
  src/net_processing.cpp
  src/net_processing.h
  src/test/esperanza/walletextension_tests.cpp
  src/test/new_pos_valid_block_tests.cpp
  src/test/txvalidationcache_tests.cpp
  src/validation.cpp
  src/validationinterface.cpp
  src/validationinterface.h
  src/wallet/test/wallet_test_fixture.cpp
  src/wallet/test/wallet_test_fixture.h
  test/functional/feature_block.py
Labels: p2p, security

#1119 Add --modified option
  contrib/devtools/interactive-test-runner.py
Labels: tools

#1122 Bump testnet genesis
  src/blockchain/blockchain_parameters.cpp
  src/blockchain/testnet_funds.cpp
Labels: genesis

#1121 Delete old finalization states from disk
  src/finalization/state_db.cpp
  src/finalization/state_db.h
  src/finalization/state_repository.cpp
  src/test/esperanza/finalizationstate_utils.cpp
  src/test/finalization/state_db_tests.cpp
  src/test/finalization/state_repository_tests.cpp
  src/test/test_unite_mocks.h
Labels: bug, finalization
